# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/
venv_ROI_proc/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebooks
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Project specific
/data/
*.log 